<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Accueil</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>

    <body>
        <h1>Welcome</h1>

        <h2 th:utext="${message}"></h2>
    </body>
</html>